# Pandas by IQRA Learnings

## Noor Mohammed Sadiq Sahik

# What is Pandas..?

* **Open Source Python Library**
* **simple and yet powerfull and expressive tool**
* Used in **Data manipulation & Data Analysis** in Python

# Where did Pandas name came from..?

* The name pandas derived from a word **Panel Data**
* **Panel Data is a multidimensional data involving the measurements over time**

## Who & When Pandas was Created..?

Created in **2015** by **Wes McKynney**

## Features of Pandas

1. **Series Object & Data Frame**
2. **Handling of Missing Data**
3. **Data Alingment**
4. **Group by Functionality**
5. **Slicing, Indexing & Subseting**
6. **Merging and Joining**
7. **Reshaping**
8. **Hierarchical Labeling of Axes**
9. **Robust Input & Output Tool**
10. **Time Series-Specific Functionality**

## Pandas vs NumPy

- **Numpy performs better for 50K Rows or less**

- **Where as Pandas better performs 500K Rows or More**

## DataSet in Pandas

1. **One Dimensional**
2. **Multi Dimensional**

* One Dimensional Data-Set is also called as **Series Object**
* Two Dimensional Data-Ser Is Called **Data-Frame**
* Three Dimensional Data-Set is called as **Panel Data**

## What Is Series-Object..?

* **One Dimensional Labelled Array**
* **Contain Data of Similar Mixed Types**

## Import Syntax --> import pandas as pd

In [2]:
import pandas as pd
data = [1,2,3,4,5,6,7,8,9]
x = pd.Series(data)
print(x)
type(x)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

pandas.core.series.Series

**How to change Index Nsme in an 1-D Data-Set**

In [3]:
import pandas as pd
data = [1,2,3,4,5]
x = pd.Series(data, index=['a','b','c','d','e'])
print(x)
type(x)

a    1
b    2
c    3
d    4
e    5
dtype: int64

pandas.core.series.Series

## What is Data-Frame..?

**2-D LAbelled DataStructure with columns of potentially different type**

**Features of Data-Frame**
    * **Different Column Types**
    * **Mutable Size**
    * **Labeled Axis**
    * **Arthmetic operation in rows and columns**

In [4]:
import pandas as pd
data = [[1,2,3,4,5],['a','b','c']]
x = pd.DataFrame(data)
type(x)
print(x)

   0  1  2    3    4
0  1  2  3  4.0  5.0
1  a  b  c  NaN  NaN

In [6]:
import pandas as pd
data = {'x':[1,2,3,4,5],'y':['a','b','c','d','e']}
df = pd.DataFrame(data)
type(df)
print(df)

   x  y
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e

In [2]:
import pandas as pd
data = {'a':['Apple','Banana'],'b':[100,50]}
df = pd.DataFrame(data)
df['Fruits_Names'] = df['a']
df

        a    b Fruits_Names
0   Apple  100        Apple
1  Banana   50       Banana

In [5]:
data = [1,2]
df = pd.DataFrame(data)
df.rename(index = {0:'a',1:'b'},inplace=True)
df.rename(index = str, columns={0:'A'},inplace=True)
colList=[]
df.columns=['a']
for col in df.columns:
    if col == 'a':
        col='b'
    colList.append(col)
df.columns=colList
df

   b
a  1
b  2

## Merge, Join & Concatenation

**There are Four pairs of merge and join in pandas**

* **Inner Merge & Inner Join**
* **Outer Merge & Outer Join**
* **Right Merge & Right Join**
* **Left Merge & Left Join**

### Concatenation

In [9]:
import pandas as pd
df = pd.DataFrame({'A':[1,2,3],'b':[4,5,6]})
print(df,'\n')
df1 = pd.DataFrame({'A':[7,8,9],'b':[10,11,12]})
print(df1,'\n')
pd.concat([df,df1])

   A  b
0  1  4
1  2  5
2  3  6

   A   b
0  7  10
1  8  11
2  9  12

   A   b
0  1   4
1  2   5
2  3   6
0  7  10
1  8  11
2  9  12

In [10]:
import pandas as pd
df = pd.DataFrame({'A':[1,2,3],'b':[4,5,6]})
print(df,'\n')
df1 = pd.DataFrame({'A':[7,8,9],'C':[10,11,12]})
print(df1,'\n')
pd.concat([df,df1])

   A  b
0  1  4
1  2  5
2  3  6

   A   C
0  7  10
1  8  11
2  9  12

   A    b     C
0  1  4.0   NaN
1  2  5.0   NaN
2  3  6.0   NaN
0  7  NaN  10.0
1  8  NaN  11.0
2  9  NaN  12.0

In [11]:
import pandas as pd
df = pd.DataFrame({'A':[1,2,3],'b':[4,5,6]})
print(df,'\n')
df1 = pd.DataFrame({'A':[7,8,9],'C':[10,11,12]})
print(df1,'\n')
pd.concat([df,df1], axis=0,join='inner')

   A  b
0  1  4
1  2  5
2  3  6

   A   C
0  7  10
1  8  11
2  9  12

   A
0  1
1  2
2  3
0  7
1  8
2  9

In [12]:
import pandas as pd
df = pd.DataFrame({'A':[1,2,3],'b':[4,5,6]})
print(df,'\n')
df1 = pd.DataFrame({'A':[7,8,9],'C':[10,11,12]})
print(df1,'\n')
pd.concat([df,df1], axis=1,join='inner')

   A  b
0  1  4
1  2  5
2  3  6

   A   C
0  7  10
1  8  11
2  9  12

   A  b  A   C
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

In [16]:
import pandas as pd
df = pd.DataFrame({'A':[1,2,3],'b':[4,5,6]})
print(df,'\n')
df1 = pd.DataFrame({'A':[7,8,9],'C':[10,11,12]})
print(df1,'\n')
pd.merge(df,df1, on=['A'],how='right')

   A  b
0  1  4
1  2  5
2  3  6

   A   C
0  7  10
1  8  11
2  9  12

   A   b   C
0  7 NaN  10
1  8 NaN  11
2  9 NaN  12

In [17]:
import pandas as pd
df = pd.DataFrame({'A':[1,2,3],'b':[4,5,6]})
print(df,'\n')
df1 = pd.DataFrame({'A':[7,8,9],'C':[10,11,12]})
print(df1,'\n')
pd.merge(df,df1, on=['A'],how='left')

   A  b
0  1  4
1  2  5
2  3  6

   A   C
0  7  10
1  8  11
2  9  12

   A  b   C
0  1  4 NaN
1  2  5 NaN
2  3  6 NaN

In [18]:
import pandas as pd
df = pd.DataFrame({'A':[1,2,3],'b':[4,5,6]})
print(df,'\n')
df1 = pd.DataFrame({'A':[7,8,9],'C':[10,11,12]})
print(df1,'\n')
pd.merge(df,df1,how='outer')

   A  b
0  1  4
1  2  5
2  3  6

   A   C
0  7  10
1  8  11
2  9  12

   A    b     C
0  1  4.0   NaN
1  2  5.0   NaN
2  3  6.0   NaN
3  7  NaN  10.0
4  8  NaN  11.0
5  9  NaN  12.0

## Data-Set Import

**How we are going to impoer our DataSet**

In [21]:
import pandas as pd
x = pd.read_csv(r'C:\Users\Welcome\Desktop\iris.csv')
x

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [22]:
type(x)

pandas.core.frame.DataFrame

In [25]:
x.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

**Head() Function Gives the startin values of the csv_File**

In [28]:
x.head(15)

    sepal.length  sepal.width  petal.length  petal.width variety
0            5.1          3.5           1.4          0.2  Setosa
1            4.9          3.0           1.4          0.2  Setosa
2            4.7          3.2           1.3          0.2  Setosa
3            4.6          3.1           1.5          0.2  Setosa
4            5.0          3.6           1.4          0.2  Setosa
5            5.4          3.9           1.7          0.4  Setosa
6            4.6          3.4           1.4          0.3  Setosa
7            5.0          3.4           1.5          0.2  Setosa
8            4.4          2.9           1.4          0.2  Setosa
9            4.9          3.1           1.5          0.1  Setosa
10           5.4          3.7           1.5          0.2  Setosa
11           4.8          3.4           1.6          0.2  Setosa
12           4.8          3.0           1.4          0.1  Setosa
13           4.3          3.0           1.1          0.1  Setosa
14           5.8          4.0           1.2          0.2  Setosa

In [29]:
x.tail()

     sepal.length  sepal.width  petal.length  petal.width    variety
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

**Tail() Function gives the ending data of csv_Files**

In [30]:
x.tail(15)

     sepal.length  sepal.width  petal.length  petal.width    variety
135           7.7          3.0           6.1          2.3  Virginica
136           6.3          3.4           5.6          2.4  Virginica
137           6.4          3.1           5.5          1.8  Virginica
138           6.0          3.0           4.8          1.8  Virginica
139           6.9          3.1           5.4          2.1  Virginica
140           6.7          3.1           5.6          2.4  Virginica
141           6.9          3.1           5.1          2.3  Virginica
142           5.8          2.7           5.1          1.9  Virginica
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

**Shape Of My File**

In [33]:
x.shape

(150, 5)

**Mean, Count, Describe**

In [36]:
x.mean()

sepal.length    5.843333
sepal.width     3.057333
petal.length    3.758000
petal.width     1.199333
dtype: float64

In [37]:
x.count()

sepal.length    150
sepal.width     150
petal.length    150
petal.width     150
variety         150
dtype: int64

In [38]:
x.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## Manipulation of Data-Sets

**Some times we dont need the whole file of data set to analyse for such cases we use manipulation techq**

### Indexing by position

In [39]:
# It Views the column only
x.iloc[:,2]

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: petal.length, Length: 150, dtype: float64

In [41]:
# It Views the column only
x.iloc[:,1]

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sepal.width, Length: 150, dtype: float64

**If we need only perticualr data**
**We pass the slicing number at the end**

In [42]:
# It Views the column only
x.iloc[0:4,2]

0    1.4
1    1.4
2    1.3
3    1.5
Name: petal.length, dtype: float64

In [43]:
# It Views the column only
x.iloc[0:10,2]

0    1.4
1    1.4
2    1.3
3    1.5
4    1.4
5    1.7
6    1.4
7    1.5
8    1.4
9    1.5
Name: petal.length, dtype: float64

**If we nwwd all Rows and all Columns**

In [45]:
x.iloc[:,:]

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [46]:
x.iloc[5:,:5]

     sepal.length  sepal.width  petal.length  petal.width    variety
5             5.4          3.9           1.7          0.4     Setosa
6             4.6          3.4           1.4          0.3     Setosa
7             5.0          3.4           1.5          0.2     Setosa
8             4.4          2.9           1.4          0.2     Setosa
9             4.9          3.1           1.5          0.1     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[145 rows x 5 columns]

In [47]:
x.iloc[:10,:2]

   sepal.length  sepal.width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6
5           5.4          3.9
6           4.6          3.4
7           5.0          3.4
8           4.4          2.9
9           4.9          3.1

In [54]:
x.iloc[15:,:10]

     sepal.length  sepal.width  petal.length  petal.width    variety
15            5.7          4.4           1.5          0.4     Setosa
16            5.4          3.9           1.3          0.4     Setosa
17            5.1          3.5           1.4          0.3     Setosa
18            5.7          3.8           1.7          0.3     Setosa
19            5.1          3.8           1.5          0.3     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[135 rows x 5 columns]

## Pandas has completed 
## if you face any difficulties kindly reach to my e-mail
## shaiknoormohammedsadiq@gmail.com

# THANK YOU